@import url('https://fonts.googleapis.com/css2?family=Borel&family=Nunito+Sans:wght@700&family=Stylish&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e8e6e6bf;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor-pointer {
  cursor: pointer;
}

/* nav cart controlers style---------- */
.nav-login-btn {
  padding: 6px 12px;
}

.nav-btn-underline {
  display: block;
  width: 0%;
  height: 2px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  border: none;
  outline: none;
  transition: all 0.5s ease;
}

.cart {
  font-size: 10px !important;
  left: 19px;
}


/* shoping pages style----------------- */

.shoping-cart {
  width: 193px;
  height: 260px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #0d6efd;
  transition: .5s all ease;
  z-index: 0;
}

.shoping-cart:hover {
  z-index: 1;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.588);
}

.img-scale-1{
  transition: all .5s ease;
}

.shoping-cart:hover .img-scale-1{
  transform: scale(2);
}

.hover-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -100%;
  left: 0;
  background: #00000055;
  color: white;
  transition: all .5s ease;
}

.shoping-cart:hover .hover-btn {
  bottom: 0%;
}


/* Navbar styles---------------------- */
.navbar-brand {
  background: linear-gradient(to right, #fffffffc, #fffe00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  font-family: 'Borel', cursive;
  text-shadow: 0px 0px 7px #00000045; 
  margin-top: 8px;
}

/* .navbar-brand{
  font-family: 'Borel', cursive;
} */


/* Selected products styles---------------*/
.std-btn {
  --bs-btn-font-size: 0.8rem;
}

/* Compiler component's style ------------------- */
.shadows {
  transition: all .5s ease;
}

.shadows:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Alert component's style----------------------- */
.loading-element {
  animation: loading .5s 1;
}

@keyframes loading {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Product List component's style --------------------------- */
.buy-button {
  border: none;
  background: #0d6efd;
  text-align: center;
  padding: 8px 0px;
  cursor: pointer;
}

/* BuyBtn component's style ---------------------------------- */
.rounded-5px-overflow-hidden-margin-top-45px {
  border-radius: 5px;
  overflow: hidden;
  margin-top: 45px;
}

/* Detailcomponents's style ----------------------------------- */
#buy-loader-icon {
  width: 30px;
}

/* AlertMessage from AddToCart style--------------------------- */
.add-cart-alert-message {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0px;
  opacity: 0;
  text-align: left;
  transition: all .5s ease;
  padding: 0px 112px;
  z-index: 3;
}

.add-cart-alert-message span {
  padding: 15px 30px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background: green;
}

.opacity-1-top-20 {
  opacity: 1;
  bottom: 30%;
}

/* Home components styles------------ */
.row {
  --bs-gutter-x: 0;
}

@media screen and (max-width: 991px) {
  .add-cart-alert-message {
    padding: 0 10px;
  }

  #cart-controler {
    position: absolute !important;
    right: 100px;
  }
}